boulders-game {
  display: block;
  position: relative;

  width: 100vw;
  height: 100vh;
  
  > *:not(script) {
    position: absolute;
  }
  
  > canvas {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
  }

  > button {
    top: 16px;
    right: 16px;
  }
}
