boulders-game {
  display: block;
  position: relative;

  width: 100vw;
  height: 100vh;
  height: 100dvh;
  
  > canvas {
    position: absolute;
  }
  
  &:not(:has(canvas:focus)) {
    &::after {
      position: absolute;
      top: 16px;
      left: 16px;
      font-size: 20px;
      font-weight: bold;
      pointer-events: none;
      content: 'PAUSE';
    }
  }

  > canvas {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    image-rendering: pixelated;

    &:focus {
      outline: none;
    }

    &:not(:focus) {
      opacity: 0.5;
      filter: blur(2px);
    }
  }

  > button {
    top: 16px;
    right: 16px;
  }
}
