.burger {
  position: absolute;
  display: block;
  top: 16px;
  right: 16px;
  padding: 8px;
  margin: 0;
  color: var(--fg);
  z-index: 10;
  > svg {
    display: block;
    height: 32px;
    width: 32px;
  }
}

