{% extends "./base.njk" %}

{% block main %}
<h1 class="v-hidden">{{ title }}</h1>
<boulders-game autofocus>
  <script type="text/plain" data-type="level">
  {{ content | safe }}
  </script>
</boulders-game>
{% include "game-menu.njk" %}
{% set nextLevel = collections.level | getNextCollectionItem %}
<won-menu{% if nextLevel %} data-url-next-level="{{ nextLevel.url }}"{% endif%}></won-menu>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ meta.url }}/game/game.js"></script>
{% endblock %}
