---
layout: base
---
<boulders-game>
  <canvas></canvas>
  <script type="text/plain" data-type="level">
  {{ content | safe }}
  </script>
</boulders-game>

<script type="module" src="{{ meta.url }}/game/game.js"></script>
