{% extends "./base.njk" %}

{% block main %}
  <main class="wrapper | flow">
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </main>
{% endblock %}

{% block footer %}
  <footer>
    <p>Made with love <span aria-hidden="true">💖</span> by <a href="https://lea.lgbt/@lea" rel="me" target="_blank">Lea Rosema</a></p>
  </footer>
{% endblock %}
